html {
    height: 100%;
    min-height: 100%;
}

#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px ;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images menu sign-in";
}

a,p {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

#about{
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store{
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail{
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}

#main {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 200px 70px 70px 200px;
    grid-template-areas: 
    ". logo ." 
    " . searchbar ."
    ". flexbox ."
    ". google-text .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}

#searchbar {
    grid-area: searchbar;
    height: 35px;
    border: 0.5px solid rgb(85, 80, 80);
    border-radius: 20px;   
    width: 600px;
}

#searchbar:hover{
    box-shadow: 1px 1px 2px grey;
}

#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
    
}

#googlesearch {
    border: none;
    font-size: 15px;
    color:rgb(156, 141, 141);
    padding: 10px;
    margin-right: 10px ;
}

#feelinglucky {
    border: none;
    font-size: 15px;
    color:rgb(156, 141, 141);
    padding: 10px;  
    margin-right: 10px ; 
}


#google-text {
    grid-area: google-text;
    justify-self: center;
}

#footer {
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 100px 100px 100px 1fr 100px 100px 100px;
    grid-template-rows:  50px 50px;
    grid-template-areas: 
   ". . . . . . ."
    "advertising business hsw . privacy terms settings";
}

#advertising{
    grid-area: advertising
}
#business{
    grid-area: business
}

#hsw {
    grid-area: hsw
}

#privacy{
    grid-area: privacy
}

#terms{ 
    grid-area: terms
}

#settings{
    grid-area: settings
}